*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
/*-------------------------- header */
header{
    background-color: #000000;
    height: 94px;
    padding: 5px;
}   
header nav{
    margin: 20px;
}
h1{
    width: 70px;
    height: 70px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -999999px;
    float: left;
    margin: 12px 150px 12px 114px;
}

header h1 a{
    display: block;
}

header li{
    float: left;
    margin-right: 20px;
    position: relative;
    padding: 10px 0px;
}

header li a{
    padding: 5px 10px;
    color: #FFFFFF;
    text-transform: uppercase;
}

header li a::before{
    content: "";
    width: 0%;
    height: 1px;
    background-color: #f9eeee;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 2s;
}

header li a:hover::before{
    width: 100%;
    cursor: pointer}
/*---------------------------------- footer */
footer{
    padding: 20px;
    background-color: #000000;
    height: 354px;
    clear: both;
}   

.footerclass{
    margin-top: 20px;
}
.gverdisbolo{
    width: 80px;
    height: 90px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -999999px;
    margin-right: 150px;
    margin: 50px auto;
}
footer h2 a{
    display: block;
    width: 50px;
    height: 60px;
}
footer li{
    margin-right: 20px;
}

footer nav li a{
    padding: 5px 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 700px;
}  
.paragrafi{
    color: #FFFFFF;
    margin-left: 700px;
    margin-top: 30px;
} 
/*--------------------------------- main */
.maingverdi .mainn{
    padding-top: 20px;
    padding-left: 10px;
    margin: 20px 30px;
    clear: both;
}
.maingverdi .boxebi{
    margin-bottom: 30px;
    float: left;
  
}
 .maingverdi article{
    width: 33.33%;
    height: 272px;
    margin: 30px;
}

.maingverdi article:hover{
    box-shadow: 0px 0px 10px #000000;
    width: 350px;
    height: 350px;
    cursor: pointer
}

.maingverdi section{
    width: 300px;
    height: 252px;
    border: 3px solid #000000;
    background-image: url(../img/sound.png);
    background-repeat: repeat-x;
    background-size: 25%;
    background-position-y: 80px;
    padding-top: 180px;
    padding-left: 10px;
    margin: 20px 30px;
    position: relative;
}


.maingverdi .baby{
    width: 50px;
    height: 50px;
    background-image: url(../img/like.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.maingverdi .baby:hover{
    background-image: url(../img/like\ 2.png);
    cursor: pointer;;
}
.maingverdi .artist::after{
    content: "...";
}
.maingverdi .pataraparagrafi{
    width: 200px;
    margin: 20px 30px;
    color: black;
}

.maingverdi .pataraparagrafi:hover a{
    text-decoration: underline;
}

/*------------------------------- facebook insta */

.maingverdi .social{
    width: 50px;
    height: 100px;
     top: 150px;
    right: 0px;
    position: fixed;
    transition: 0.5s;
}

.maingverdi .social .facebook{
    width: 50px;
    height: 50px;
    top: 150px;
    right: 0px;
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.maingverdi .social .instagram{
    idth: 50px;
    height: 50px;
    top: 150px;
    right: 0px;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.maingverdi .social .facebook:hover{
    background-image: url(../img/facebook.png);
    cursor: pointer
}
.maingverdi .social .instagram:hover{
    background-image: url(../img/instagramcolour.png);
    cursor: pointer
}
/*--------------------------------- meore gverdi */

.mainmeore .meoregverdi1{
    float: left;
    margin-bottom: 70px;  
    margin-left: 50px;
}

.mainmeore .meoregverdi1 article{
    width: 280px;
    height: 362px;
    padding: 20px;
    position: relative;
}
.mainmeore .meoregverdi1 article:hover{
    background-color: #f9eeee;
    cursor: pointer;
    box-shadow: 0 0 10px #f9eeee;
}


.mainmeore h2{
    margin-bottom: 30px;
}

.mainmeore .otxisurati{
    width: 288px;
    height: 200px;
    background-image: url(../img/sound.png);
    background-repeat: repeat-x;
    background-size: 25%;
    background-position-y: 50px;
    position: absolute;
    top: 350px;
    left: 600px;
}

.mainmeore .sami {
    clear: both;
}

.mainmeore .otxisuratiori{ 
    width: 300px;
    height: 350px;
    background-image: url(../img/sound.png);
    background-repeat: repeat-x;
    background-position-y: 40px;
    background-size: 25%;
    margin: 50px auto;
    position: absolute;
    top: 750px;
    left: 600px;
}


.mainmeore .bolosityva{
    clear: both;
    width: 390px;
    height: 60px;
    padding: 100px;
    margin: 50px auto;
}


/* facebood instagram meore gverdi */


.mainmeore .meoregverdisocial{
    width: 50px;
    height: 100px;
    top: 150px;
    right: 0px;
    position: fixed;
    transition: 0.5s;
}

.mainmeore .meoregverdisocial .facebook{
    width: 50px;
    height: 50px;
    top: 150px;
    right: 0px;
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mainmeore .meoregverdisocial  .instagram{
    idth: 50px;
    height: 50px;
    top: 150px;
    right: 0px;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mainmeore .meoregverdisocial .facebook:hover{
    background-image: url(../img/facebook.png);
    cursor: pointer
}
.mainmeore .meoregverdisocial .instagram:hover{
    background-image: url(../img/instagramcolour.png);
    cursor: pointer
}