*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
/*-------------------------- header */
header{
    padding: 20px;
    background-color: #000000;
    height: 94px;
}   

header nav{
    margin-top: 20px;
}
h1{
    width: 50px;
    height: 90px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -999999px;
    float: left;
    margin-right: 150px;
}
header h1 a{
    display: block;
    width: 50px;
    height: 60px;
}
header li{
    float: left;
    margin-right: 20px;
}

header li a{
    padding: 5px 10px;
    color: #FFFFFF;
    text-transform: uppercase;
}
/*---------------------------------- footer */
footer{
    padding: 20px;
    background-color: #000000;
    height: 354px;
    clear: both;
}   

.footerclass{
    margin-top: 20px;
}
.gverdisbolo{
    width: 80px;
    height: 90px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -999999px;
    margin-right: 150px;
    margin: 50px auto;
}
footer h2 a{
    display: block;
    width: 50px;
    height: 60px;
}
footer li{
    margin-right: 20px;
}

footer nav li a{
    padding: 5px 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 700px;
}  
.paragrafi{
    color: #FFFFFF;
    margin-left: 700px;
    margin-top: 30px;
} 
/*--------------------------------- main */
.mainn{
    padding-top: 20px;
    padding-left: 10px;
    margin: 20px 30px;
    clear: both;
}
.boxebi{
    margin-bottom: 30px;
    float: left;
}
 article{
    width: 100%;
    height: 272px;
    float: left;
    margin: 30px;
}

section{
    width: 300px;
    height: 272px;
    border: 3px solid #000000;
    background-image: url(../img/sound.png);
    background-repeat: repeat-x;
    background-size: 25%;
    background-position-y: 80px;
    padding-top: 180px;
    padding-left: 10px;
    margin: 20px 30px;
    position: relative;
}
.baby{
    width: 50px;
    height: 50px;
    background-image: url(../img/like.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.artist::after{
    content: "...";
}
.pataraparagrafi{
    margin: 20px 30px;
    color: black;
}

/*-------------------- facebook insta */
.social{
    width: 50px;
    height: 100px;
    position: fixed;
    top: 150px;
    right: 0px;
}
.social .facebook, .social .instagram{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.social .facebook img, .social .instagram img{
    width: 100%;
}
/*------------------------- meore gverdi */
.mainmeore{
    height: 1200px;
}

.meoregverdi1{
    float: left;
    padding: 10px;
    margin-left: 5px;
    clear: both;
}
.meoregverdi2{
    float: left;
    padding: 10px;
    margin-left: 5px;

}


.otxisurati{
    width: 300px;
    height: 350px;
    background-image: url(../img/sound.png);
    background-repeat: repeat-x;
    background-size: 25%;
    margin: 50px auto;
    position: absolute;
    top: 350px;
    left: 350px;
}


.playlist2{
    margin-bottom: 20px;
}

.meoregverdiori{
    padding: 10px;
    float: left;
}

.meoregverdiorigasayofi{
    clear: both;
    float: left;
}
.otxisuratiori{ 
    width: 300px;
    height: 350px;
    background-image: url(../img/sound.png);
    background-repeat: repeat-x;
    background-size: 25%;
    margin: 50px auto;
    position: absolute;
    top: 750px;
    left: 600px;
}


.bolosityva{
    /* margin: 1500px 600px; */
    clear: both;
    width: 390px;
    height: 60px;
    padding: 100px;
    margin: 50px auto;
}

 